#content {
    background-image: url(../../images/background/glowing-spaceship-orbits-planet-starry-galaxy-generated-by-ai.jpg) !important;
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
}

.backgroundLink {
    position: fixed;
    right: 0px;
    top: 0px;
    bottom: var(--footerSize);
}