.noSelect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
       supported by Chrome, Edge, Opera and Firefox */
    cursor: pointer;
}

body {
    margin: 0px;
}

::selection {
    color: var(--selectionColor);
    background-color: var(--selectionBackgroundColor);
}

.a {
    color: var(--defaultLinkColor);
}

a:link {
    text-decoration: none;
    color: var(--defaultLinkColor);
}
  
a:visited {
    text-decoration: none;
    color: var(--defaultLinkColor);
}

#main {
    display: inline-block;
    width: 100%;

}